/*! CV | https://cv.oscar.pm | Oscar Palmér */

@import 'tachyons';

$color-link: rgb(48, 96, 160);
$color-link-hover: rgb(96, 160, 48);
$color-link-active: rgb(160, 160, 160);
$color-link-visited: rgb(128, 48, 160);

body {
  color: rgba(0, 0, 0, .75);
}

abbr {
  cursor: help;
}

.dark {
  color: rgba(0, 0, 0, .875);
}

.hyphen {
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

.numeric {
  font-variant-numeric: tabular-nums;
}

.custom-list {
  list-style: none;

  li {
    padding-left: 2rem;
    position: relative;

    &::before {
      content: '–';
      width: 1rem;
      display: block;
      opacity: .5;
      text-align: right;
      position: absolute;
      left: 0;
    }
  }
}

.double {
  &__h3 {
    width: 7rem;
    line-height: 1.25;
    position: relative;
    top: .1rem;
  }

  &__p {
    width: calc(100% - 8rem);
  }
}

.triple {
  &__h3 {
    margin-left: 8rem;
  }

  &__h4 {
    width: 7rem;
    line-height: 1.25;
    position: relative;
    top: .1rem;
  }

  &__p {
    width: calc(100% - 8rem);
  }
}

@media screen {
  .wrapper {
    min-height: calc(100vh - 6rem);
  }

  .link {
    border-bottom: 2px solid rgba($color-link, .5);
    color: $color-link;
    text-decoration: none;
    white-space: nowrap;

    &,
    &:link,
    &:focus,
    &:hover,
    &:active,
    &:visited {
      transition-property: background, border-color, color;
      transition-duration: .25s;
      transition-timing-function: ease;
    }

    &:focus,
    &:hover,
    &:visited:focus,
    &:visited:hover {
      color: $color-link-hover;
    }

    &:focus,
    &:visited:focus {
      padding: .25rem .5rem;
      margin: 0 -.5rem;
      border-bottom: none;
      outline-color: $color-link-hover;
    }

    &:hover,
    &:visited:hover {
      border-color: rgba($color-link-hover, .5);
    }

    &:active,
    &:visited:active {
      color: $color-link-active;
      border-color: rgba($color-link-active, .5);
    }

    &:visited {
      color: $color-link-visited;
      border-color: rgba($color-link-visited, .375);
    }
  }

  .subtitle {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .nav {
    position: relative;
    top: auto;
    right: auto;
  }

  .links {
    margin: -1rem 0 1rem;

    &__item {
      &:nth-child(even) {
        padding-left: .5rem;
      }

      &:nth-child(odd) {
        padding-right: .5rem;
        clear: left;
      }
    }

    &__link {
      background: rgba($color-link, .75);
      border: none;
      text-shadow: 0 1px 2px rgba(0, 0, 0, .5);

      &.link {
        padding: .25rem .5rem;

        &:focus {
          margin: 0;
        }
      }

      &.starred::before {
        content: '\02605\000A0';
      }

      &,
      &:hover,
      &:focus,
      &:active,
      &:visited,
      &:visited:hover,
      &:visited:focus {
        border: none;
        color: white;
      }

      &:hover,
      &:visited:hover,
      &:focus,
      &:visited:focus {
        background: rgba($color-link-hover, .75);
        outline: none;
      }

      &:active {
        background: rgba($color-link-active, .75);
      }

      &:visited {
        background: rgba($color-link-visited, 1);
      }
    }
  }

  .sv,
  .en {
    padding-left: 4rem;
    position: relative;

    &::before {
      font-size: 2em;
      position: absolute;
      top: 0;
      left: 1rem;
    }
  }

  .sv {
    &::before {
      content: '🇸🇪';
    }
  }

  .en {
    &::before {
      content: '🇬🇧';
    }
  }
}

@media screen and (min-width: 30rem) {
  .subtitle {
    position: relative;
    top: auto;
    right: auto;
  }

  .nav {
    position: absolute;
    top: 3rem;
    right: 1rem;
  }
}

@media screen and (min-width: 60rem) {
  .wrapper {
    min-height: calc(100vh - 7.25rem);
  }

  .nav {
    top: 4rem;
  }

  .triple__h3 {
    margin-left: 12rem;
  }

  .double__h3,
  .triple__h4 {
    width: 11rem;
  }

  .double__p,
  .triple__p {
    width: calc(100% - 12rem);
  }

  .links {
    margin-bottom: 1rem;

    &__item {
      width: calc((100% - 2rem) / 3);

      &:nth-child(even) {
        padding-left: 0;
      }

      &:nth-child(odd) {
        padding-right: 0;
        clear: none;
      }

      &:nth-child(2),
      &:nth-child(5) {
        margin: 0 1rem;
      }

      &:nth-child(4n) {
        clear: left;
      }
    }
  }

  .sv,
  .en {
    padding-left: 6rem;

    &::before {
      left: 2rem;
    }
  }
}

@media print {
  @import 'print';
}
