- lang = I18n.t :lang

!!! 5
%html{ lang: I18n.locale.to_s }
  = partial 'partials/head'

%body

  %header{ role: 'banner' }
    %h1
      %a{ href: lang[:url][:current] } Oscar Palmér
    %h2 Curriculum Vitae
    %p
      %a{ href: lang[:url][:next] }= lang[:text]

  %main{ role: 'main' }= yield

  %footer{ role: 'contentinfo' }
    %p
      &copy; 2019,
      %a{ class: 'link', href: 'https://oscar.pm' } Oscar Palmér
    %p
      = I18n.t(:footer)[:github]
      %a{ class: 'link', href: 'https://github.com/oscarpalmer/cv.oscar.pm' } GitHub.
